body {
    font-family: 'Montserrat';
}
h1{
    font-size: 45px;
    font-weight: lighter;
    color: #041b39;
}

.logo_txt{
    font-family: 'Abang', sans-serif;
    font-size: 30px;
    color: white;
    
    /* text-shadow: desplazamientoX desplazamientoY desenfoque color; */
    text-shadow: 
    -1px 0 #041b39,  /* Sombra arriba izquierda */
    1px -1px 0 #041b39,  /* Sombra arriba derecha */
   -1px  1px 0 #041b39,  /* Sombra abajo izquierda */
    1px  1px 0 #041b39;  /* Sombra abajo derecha */
}